# generated: '2026-08-29'
# method: searched
# source: https://docs.soda.io/reference/soda-apis/rest-api/ — assembled from the OpenAPI 3.1.0
#   documents Soda publishes inline on each REST API reference page (16 pages, 103 operations,
#   zero conflicting definitions). Ownership: info.title 'Soda Cloud API v4', servers
#   https://cloud.soda.io + https://cloud.us.soda.io — Soda's own hosts.
openapi: 3.1.0
info:
  title: Soda Cloud API v4
  version: v1
  description: The Soda Cloud REST API (v4 public API). Assembled verbatim from the OpenAPI 3.1.0 documents
    Soda publishes inside each REST API reference page at https://docs.soda.io/reference/soda-apis/rest-api/.
  contact:
    name: Soda
    url: https://www.soda.io
servers:
- description: Cloud EU
  url: https://cloud.soda.io
- description: Cloud US
  url: https://cloud.us.soda.io
security:
- basicAuthApiKey: []
- cookieToken: []
tags:
- name: Attributes
  description: Soda Cloud API Attribute Endpoints
- name: Checks
  description: Soda Cloud API Check Endpoints
- name: Contracts
  description: Soda Cloud API Contract Endpoints
- name: Data Standards
  description: Soda Cloud API Data Standard Endpoints
- name: Datasets
  description: Soda Cloud API Dataset Endpoints
- name: Datasources
  description: Soda Cloud API Datasource Endpoints
- name: Discovered Datasets
  description: Soda Cloud API Discovered Dataset Endpoints
- name: Incidents
  description: Soda Cloud API Incidents Endpoints
- name: Licensing
  description: Soda Cloud API Licensing Endpoints
- name: Notification Rules
  description: Soda Cloud API Notification Rule Endpoints
- name: Runners
  description: Soda Cloud API Runner Endpoints
- name: Scans
  description: Soda Cloud API Scan Endpoints
- name: Secrets
  description: Soda Cloud API Secret Endpoints
- name: Users
  description: Soda Cloud API Users Endpoints
- name: Utility
  description: Soda Cloud API Utility Endpoints
paths:
  /api/v1/attributes:
    get:
      description: 'This endpoint enables you to list the attributes available in your organization''s
        Soda Cloud account.


        Optionally filter by resource type using the `resourceType` query parameter.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 10 and 1000, inclusive. The default value is 1000.


        - `page`: Supply an integer value. The default value is 0.


        - `resourceType`: Optional. Filter by resource type (`dataset`, `check`, or `column`).


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Any Soda Cloud user in your organization may execute this query.


        ## Tags


        `Attributes`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/attributes
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: resourceType
        schema:
          type: object
          $ref: '#/components/schemas/AttributeResourceTypeDTO'
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiListAttributesResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List attributes
      tags:
      - Attributes
    post:
      description: 'This endpoint enables you to create a new attribute in your organization''s Soda Cloud
        account.


        Attributes are scoped to a resource type (dataset, check, or column). Once an attribute is created,
        it can be set on the associated resource type. Attributes can be used to configure notification
        rules, dashboards, filters, etc. For example sending email alerts when checks marked as critical
        fail.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_ATTRIBUTES to execute this call.


        ## Tags


        `Attributes`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/attributes
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiCreateAttributeRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiCreateAttributeResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Create an attribute
      tags:
      - Attributes
  /api/v1/attributes/{attributeId}:
    post:
      description: 'This endpoint enables you to update an existing attribute in your organization''s
        Soda Cloud account.


        Only label, description, and allowedValues (for select types) can be updated.


        When updating allowedValues, existing attribute values on resources are left in place, even if
        they are no longer in the allowed set.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_ATTRIBUTES to execute this call.


        ## Tags


        `Attributes`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/attributes/{attributeId}
      parameters:
      - in: path
        name: attributeId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiUpdateAttributeRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiUpdateAttributeResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Update an attribute
      tags:
      - Attributes
    delete:
      description: 'This endpoint enables you to delete an existing attribute from your organization''s
        Soda Cloud account.


        The attribute will be removed from any resources where it is set.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_ATTRIBUTES to execute this call.


        ## Tags


        `Attributes`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: DELETE/api/v1/attributes/{attributeId}
      parameters:
      - in: path
        name: attributeId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiDeleteAttributeResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Delete an attribute
      tags:
      - Attributes
  /api/v1/checks:
    get:
      description: 'This endpoint enables you to gather information about the checks that in exist in
        your organization''s Soda Cloud account, including information about the datasets and agreements
        with which they are associated and the incidents to which they are linked. .


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 10 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        - `datasetId`: Optionally, use this parameter to collect only the information for checks associated
        with a specific dataset. Find the `datasetId` in the URL of the dataset page in Soda Cloud.


        - `dataStandardId`: Optionally, use this parameter to collect only the information for checks
        belonging to a specific data standard. Find the `dataStandardId` in the URL of the data standard
        page in Soda Cloud.


        - `checkIds`: Optionally, use this parameter to collect only the information for a specific batch
        of checks. Provide multiple values as a comma-separated list of check IDs, which you can find
        on the individual check pages in Soda Cloud. This query parameter is limited to 1000 check IDs
        and it can''t be combined with other query parameters like `page`, `datasetId`, `size`.


        If not specified, the query gathers information for all checks in the account and sorts the results
        by check name in ascending order.


        ## Authorization


        Soda only returns the checks linked to datasets to which the user has **View dataset** permissions.
        Soda Cloud Admins have access to all checks.**See [Manage dataset roles](https://go.soda.io/roles-dataset)
        for more information.**


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Checks`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/checks
      parameters:
      - in: query
        name: checkIds
        schema:
          type: string
      - in: query
        name: dataStandardId
        schema:
          type: string
      - in: query
        name: datasetId
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiChecksResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Check information
      tags:
      - Checks
  /api/v1/checks/{checkId}:
    delete:
      description: 'This endpoint allows you to delete a specific check in your organization''s Soda Cloud
        account.


        ## Authorization


        Only users with **Manage checks** permission (V3 datasets) or **Manage contracts** permission
        (V4 datasets) can delete checks. Soda Cloud Admins can delete checks for all datasets. **See [Manage
        dataset roles](https://go.soda.io/roles-dataset) for more information.**


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Checks`


        ## Rate limiting


        1000 requests/60 seconds'
      operationId: DELETE/api/v1/checks/{checkId}
      parameters:
      - in: path
        name: checkId
        required: true
        schema:
          type: string
      responses:
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Delete a check
      tags:
      - Checks
  /api/v1/contracts:
    get:
      description: 'This endpoint allows you to list contracts in your organization.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 10 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        - `datasetId`: Optionally, use this parameter to list only the contracts for a specific dataset.


        - `datasetQualifiedName`: Optionally, use this parameter instead of `datasetId` to identify the
        dataset by its qualified name. Do not supply both `datasetId` and `datasetQualifiedName`.


        ## Authorization


        When filtering by dataset, only users with **View dataset** permission on the specified dataset
        can list its contracts. When no dataset filter is supplied, all contracts in the organization
        are returned.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/contracts
      parameters:
      - in: query
        name: datasetId
        schema:
          type: string
      - in: query
        name: datasetQualifiedName
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiListContractsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List contracts
      tags:
      - Contracts
    post:
      description: 'This endpoint allows you to create a new contract on a dataset. The contract is initialized
        with a template containing the dataset identifier and an empty columns list. Use the publish endpoint
        to replace this with your full contract YAML.


        Provide either `datasetId` or `datasetQualifiedName` in the request body to identify the target
        dataset. Exactly one must be supplied. If both are supplied, the request is rejected with a 400
        error.


        ## Authorization


        Only users with **Manage contracts** permission can create contracts.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/contracts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiCreateContractRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiCreateContractResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Create a contract
      tags:
      - Contracts
  /api/v1/contracts/actions/createSkeleton:
    post:
      description: 'Triggers skeleton contract generation for a single dataset based on its schema.


        The dataset must be connected to a Soda Runner and must not already have a published contract.


        Provide either `datasetId` (UUID) or `datasetQualifiedName` (e.g. `my_datasource/my_schema/my_table`).
        Exactly one must be supplied.


        Returns `202 Accepted` with a `Location` header pointing to the status endpoint. Use the status
        endpoint to monitor the progress of the skeleton generation.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        10 requests/60 seconds'
      operationId: POST/api/v1/contracts/actions/createSkeleton
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiCreateSkeletonContractRequestDTO'
        required: true
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Generate skeleton contract
      tags:
      - Contracts
  /api/v1/contracts/actions/createSkeleton/{operationId}:
    get:
      description: 'Returns the status of a skeleton contract generation operation that was triggered
        via the **Generate skeleton contract** endpoint.


        The `operationId` is the last path segment of the `Location` header returned by the **Generate
        skeleton contract** response.


        The response includes the operation state, dataset information, and creation timestamp.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/contracts/actions/createSkeleton/{operationId}
      parameters:
      - in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiCreateSkeletonContractStatusResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Get skeleton contract generation status
      tags:
      - Contracts
  /api/v1/contracts/actions/generate:
    post:
      description: 'Triggers AI-powered contract generation for one or more datasets. The contract generation
        runs asynchronously.


        Each dataset must be connected to a Soda Runner and must not already have a contract. If any dataset
        is not eligible, the request is rejected with a `400` response listing the ineligible datasets
        and reasons.


        Provide `datasetIds` (list of UUIDs) and/or `datasetQualifiedNames` (list of qualified names,
        e.g. `my_datasource/my_schema/my_table`). Both lists are additive. At least one must be non-empty.


        Returns `202 Accepted` with a `Location` header pointing to the status endpoint. Use the status
        endpoint to monitor the progress of the contract generation.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        10 requests/60 seconds'
      operationId: POST/api/v1/contracts/actions/generate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiGenerateContractRequestDTO'
        required: true
      responses:
        '202':
          description: Accepted
          headers:
            Location:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Generate contracts
      tags:
      - Contracts
  /api/v1/contracts/actions/generate/{operationId}:
    get:
      description: 'Returns the status of a contract generation operation that was triggered via the **Generate
        contracts** endpoint.


        The `operationId` is the last path segment of the `Location` header returned by the **Generate
        contracts** response.


        While the operation is ongoing, only the operation state is returned (`datasets` will be `null`).
        Once the operation reaches a terminal state (completed, failed, or canceled), the full per-dataset
        scan details are included.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/contracts/actions/generate/{operationId}
      parameters:
      - in: path
        name: operationId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiGenerateContractStatusResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Get contract generation status
      tags:
      - Contracts
  /api/v1/contracts/{contractId}:
    get:
      description: 'This endpoint allows you to retrieve a specific contract, including its YAML content.


        ## Authorization


        Only users with **View dataset** permission can view contracts.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        1000 requests/60 seconds'
      operationId: GET/api/v1/contracts/{contractId}
      parameters:
      - in: path
        name: contractId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiGetContractResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Get a contract
      tags:
      - Contracts
    post:
      description: 'This endpoint allows you to publish new YAML content for an existing contract.


        The `contents` field must contain valid Soda contract YAML. If the YAML is malformed or does not
        conform to the contract schema, the request is rejected with a 400 error.


        The `dataset` in the YAML must name the dataset that `contractId` belongs to. Contents naming
        a different dataset are rejected with a 400 error.


        ## Authorization


        Only users with **Manage contracts** permission can publish contracts.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/contracts/{contractId}
      parameters:
      - in: path
        name: contractId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiPublishContractRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiPublishContractResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Publish a contract
      tags:
      - Contracts
  /api/v1/contracts/{contractId}/verify:
    post:
      description: 'This endpoint triggers a contract verification scan for the specified contract.


        The response, when successful, is `201` and contains headers `Location` and `X-Soda-Scan-Id` which
        identify the triggered scan. Use the value of `X-Soda-Scan-Id` in the `scanId` parameter of the
        **Get scan status**, **Get scan logs**, and **Cancel a scan** endpoints.


        Optionally, you can provide `checkPaths` to limit verification to specific checks within the contract.
        Note: `checkPaths` may not be available for all organizations.


        ## Authorization


        Only users with **Manage contracts** permission can verify contracts.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        10 requests/60 seconds'
      operationId: POST/api/v1/contracts/{contractId}/verify
      parameters:
      - in: path
        name: contractId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiVerifyContractRequestDTO'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
            X-Soda-Scan-Id:
              schema:
                type: string
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Verify a contract
      tags:
      - Contracts
  /api/v1/contracts/{contractId}/versions:
    get:
      description: 'This endpoint allows you to list versions of a specific contract.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 10 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        - `createdBefore`: Optionally, supply a UTC datetime value (ISO 8601, e.g. `2024-01-15T10:30:00`)
        to only return versions created strictly before this timestamp. Use this for consistent pagination.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Contracts`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/contracts/{contractId}/versions
      parameters:
      - in: path
        name: contractId
        required: true
        schema:
          type: string
      - in: query
        name: createdBefore
        schema:
          type: string
          format: date-time
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiListContractVersionsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List contract versions
      tags:
      - Contracts
  /api/v1/dataStandards:
    get:
      description: 'This endpoint allows you to list the data standards in your organization.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 1 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        - `search`: Optionally, use this parameter to perform a fuzzy search on the data standard name
        and label.


        - `status`: Optionally, use this parameter to list only data standards with a given status (`draft`,
        `active`, `paused`, or `invalid`).


        - `sort`: Optionally, sort the results by `name` (default) or `label`.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Data Standards`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/dataStandards
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      - in: query
        name: sort
        schema:
          type: object
          $ref: '#/components/schemas/DataStandardSortFieldDTO'
      - in: query
        name: status
        schema:
          type: object
          $ref: '#/components/schemas/DataStandardStatusDTO'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiListDataStandardsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List data standards
      tags:
      - Data Standards
    post:
      description: 'This endpoint allows you to create a new data standard from YAML contents, a structured
        scope, status, owners and an optional schedule.


        The `contents` field must contain valid data standard YAML. If the YAML is malformed, the request
        is rejected with a 400 error.


        ## Authorization


        Only users with **Manage data standards** permission can create data standards.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/dataStandards
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiDataStandardRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiCreateDataStandardResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Create a data standard
      tags:
      - Data Standards
  /api/v1/dataStandards/actions/execute:
    post:
      description: 'This endpoint triggers a scan that runs the active data standards linked to the specified
        dataset.


        The response, when successful, is `201` and contains the header `X-Soda-Scan-Id` and a `Location`
        header which identify the triggered scan. Use the value of `X-Soda-Scan-Id` in the `scanId` parameter
        of the **Get scan status**, **Get scan logs**, and **Cancel a scan** endpoints.


        ## Authorization


        Only users with **Manage data standards** permission can execute data standards.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        10 requests/60 seconds'
      operationId: POST/api/v1/dataStandards/actions/execute
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiExecuteDataStandardsRequestDTO'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiExecuteDataStandardsResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Execute data standards for a dataset
      tags:
      - Data Standards
  /api/v1/dataStandards/actions/previewScope:
    post:
      description: 'This endpoint evaluates a candidate scope and returns the datasets that would match
        it, without creating or modifying any data standard.


        The `scope` uses the same structured rule grammar as the create-data-standard endpoint. An omitted
        or empty scope matches **all** datasets, mirroring how a data standard without a scope applies
        to every dataset. Results are paged with `page` (0-based, default 0) and `size` (between 1 and
        1000, default 10).


        ## Authorization


        Only users with **Manage data standards** permission can preview a data standard scope.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/dataStandards/actions/previewScope
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiPreviewDataStandardScopeRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiPreviewDataStandardScopeResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Preview the datasets matching a data standard scope
      tags:
      - Data Standards
  /api/v1/dataStandards/actions/test:
    post:
      description: 'This endpoint runs the checks of an unsaved data standard against one dataset''s live
        data, without creating or modifying any data standard. The tested standard does not appear in
        your data standards and no checks or check results are persisted; the outcome is only visible
        on the triggered scan.


        The `contents` field must contain valid data standard YAML. If the YAML is malformed, the request
        is rejected with a 400 error.


        The response, when successful, is `201` and contains the header `X-Soda-Scan-Id` and a `Location`
        header which identify the triggered scan. Use the value of `X-Soda-Scan-Id` in the `scanId` parameter
        of the **Get scan status**, **Get scan logs**, and **Cancel a scan** endpoints.


        ## Authorization


        Only users with **Manage data standards** permission who can view the dataset''s datasource can
        test a data standard.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        10 requests/60 seconds'
      operationId: POST/api/v1/dataStandards/actions/test
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiTestDataStandardRequestDTO'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiTestDataStandardResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Test a data standard against a dataset
      tags:
      - Data Standards
  /api/v1/dataStandards/activity:
    get:
      description: 'This endpoint returns an organization-wide rollup of data standards activity, including
        counts of active and total standards, matched datasets, and check results.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Data Standards`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/dataStandards/activity
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiDataStandardsActivityResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Data standards activity
      tags:
      - Data Standards
  /api/v1/dataStandards/{dataStandardId}:
    get:
      description: 'This endpoint allows you to retrieve a specific data standard, including its YAML
        contents and scope.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Data Standards`


        ## Rate limiting


        1000 requests/60 seconds'
      operationId: GET/api/v1/dataStandards/{dataStandardId}
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiGetDataStandardResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Get a data standard
      tags:
      - Data Standards
    post:
      description: 'This endpoint allows you to replace an existing data standard''s YAML contents, scope,
        status, owners and schedule.


        The `contents` field must contain valid data standard YAML. If the YAML is malformed, the request
        is rejected with a 400 error.


        ## Authorization


        Only users with **Manage data standards** permission can update data standards.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/dataStandards/{dataStandardId}
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiDataStandardRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiUpdateDataStandardResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Update a data standard
      tags:
      - Data Standards
    delete:
      description: 'Schedules a data standard for deletion. Deletion is processed asynchronously: the
        standard and its dataset associations, owners and YAML file are removed in the background.


        ## Authorization


        Only users with **Manage data standards** permission can delete data standards.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: DELETE/api/v1/dataStandards/{dataStandardId}
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiDeleteDataStandardResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Delete a data standard
      tags:
      - Data Standards
  /api/v1/dataStandards/{dataStandardId}/actions/evaluateScope:
    post:
      description: 'This endpoint re-evaluates a data standard''s scope and returns the ids of the datasets
        that currently match it.


        ## Authorization


        Only users with **Manage data standards** permission can evaluate a data standard''s scope.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/dataStandards/{dataStandardId}/actions/evaluateScope
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiEvaluateDataStandardScopeResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Evaluate a data standard's scope
      tags:
      - Data Standards
  /api/v1/dataStandards/{dataStandardId}/actions/status:
    post:
      description: 'This endpoint transitions a data standard to a new status without modifying its contents,
        scope, owners or schedule.


        Allowed transitions are validated; an invalid transition is rejected with a 400 error.


        ## Authorization


        Only users with **Manage data standards** permission can update a data standard''s status.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_DATA_STANDARDS to execute this call.


        ## Tags


        `Data Standards`


        ## Rate limiting


        100 requests/60 seconds'
      operationId: POST/api/v1/dataStandards/{dataStandardId}/actions/status
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiUpdateDataStandardStatusRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiUpdateDataStandardStatusResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Update a data standard's status
      tags:
      - Data Standards
  /api/v1/dataStandards/{dataStandardId}/checks:
    get:
      description: 'This endpoint allows you to list the aggregated checks of a specific data standard.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 1 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Data Standards`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/dataStandards/{dataStandardId}/checks
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiListDataStandardChecksResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List data standard checks
      tags:
      - Data Standards
  /api/v1/dataStandards/{dataStandardId}/datasets:
    get:
      description: 'This endpoint allows you to list the datasets matched by a specific data standard.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 1 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Data Standards`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/dataStandards/{dataStandardId}/datasets
      parameters:
      - in: path
        name: dataStandardId
        required: true
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiListDataStandardDatasetsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List data standard datasets
      tags:
      - Data Standards
  /api/v1/datasets:
    get:
      description: 'This endpoint enables you to gather information about the datasets that in exist in
        your organization''s Soda Cloud account, including information about the Soda Cloud resources
        with which it is associated, such as data source, incidents, attributes and health status.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 10 and 1000, inclusive. The default value is 10.


        - `page`: Supply an integer value. The default value is 0.


        - `from`: Optionally, use this parameter to collect only the information for datasets that have
        been updated after a particular point in time.  Supply an ISO8601 timestamp value. Example: `2023-12-31T10:15:30+01:00`


        - `datasourceName`:  Optionally, use this parameter to collect only the information for datasets
        associated with a specific datasource.


        - `search`: Optionally, use this parameter to perform a fuzzy search on the dataset name.


        If not specified, the query gathers information for all datasets in the account and sorts the
        results first by dataset name and then by datasource name in ascending order.


        ## Authorization


        Soda only returns the datasets to which the user has **View dataset** permissions. Soda Cloud
        Admins have access to all datasets.**See [Manage dataset roles](https://go.soda.io/roles-dataset)
        for more information.**


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Datasets`


        ## Rate limiting


        30 requests/60 seconds'
      operationId: GET/api/v1/datasets
      parameters:
      - in: query
        name: datasourceName
        schema:
          type: string
      - in: query
        name: from
        schema:
          type: string
          format: date-time
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiDatasetsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Dataset information
      tags:
      - Datasets
  /api/v1/datasets/byDatasetQualifiedName/{datasetQualifiedName}:
    get:
      description: 'This endpoint enables you to retrieve a single dataset by its qualified name (contractIdentifier)
        from your organization''s Soda Cloud account.


        ## Authorization


        Only users with **View dataset** permission can view a dataset. Soda Cloud Admins have permission
        to view any dataset. **See [Manage dataset roles](https://go.soda.io/roles-dataset) for more information.**


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Tags


        `Datasets`


        ## Rate limiting


        1000 requests/60 seconds'
      operationId: GET/api/v1/datasets/byDatasetQualifiedName/{datasetQualifiedName}
      parameters:
      - in: path
        name: datasetQualifiedName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/DatasetsContentDTO'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Get dataset by qualified name
      tags:
      - Datasets
  /api/v1/datasets/roles:
    get:
      description: 'This endpoint enables you to gather information about the dataset roles available
        in your organization''s Soda Cloud account. Use the dataset roles to manage access to individual
        datasets.


        This GET is a paginated API that uses the following parameters to request specific details:


        - `size`: Supply an integer value between 10 and 100, inclusive. The default value is 100.


        - `page`: Supply an integer value. The default value is 0.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Any Soda Cloud user in your organization may execute this query.


        ## Tags


        `Datasets`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: GET/api/v1/datasets/roles
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          format: int32
      - in: query
        name: size
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiDatasetRolesResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: List dataset roles
      tags:
      - Datasets
    post:
      description: 'This endpoint allows you to create a new custom dataset role in your organization''s
        Soda Cloud account. Dataset roles define a named set of permissions that control what actions
        users can perform on individual datasets, such as managing checks, viewing profiling data, configuring
        the dataset, or managing incidents.


        Once created, the role can be assigned to users or user groups via the dataset responsibilities
        endpoints.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_ORGANISATION_SETTINGS to execute this call.


        ## Tags


        `Datasets`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: POST/api/v1/datasets/roles
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiDatasetRoleRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiCreateDatasetRoleResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '429':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      summary: Create a dataset role
      tags:
      - Datasets
  /api/v1/datasets/roles/{roleId}:
    post:
      description: 'This endpoint allows you to update the name or permissions of an existing custom dataset
        role. Dataset roles define a named set of permissions that control what actions users can perform
        on individual datasets, such as managing checks, viewing profiling data, configuring the dataset,
        or managing incidents.


        Changes apply immediately to all users and user groups assigned this role.


        ## Authentication


        User authentication required: `true`


        This endpoint accepts authentication via API keys in the `Basic` authentication header, or a pre-authenticated
        token in HTTP cookie `token`. Cookie sessions extend automatically on each request.


        ## Authorization


        Users must have global role permission MANAGE_ORGANISATION_SETTINGS to execute this call.


        ## Tags


        `Datasets`


        ## Rate limiting


        60 requests/60 seconds'
      operationId: POST/api/v1/datasets/roles/{roleId}
      parameters:
      - in: path
        name: roleId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/PublicApiDatasetRoleRequestDTO'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/PublicApiUpdateDatasetRoleResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        '401':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        '429':
          content:
            application/json:
              schema:
[...]
